<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Mood tracker</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />




</head>
<body>

	<div class=container>
		<h1>Track your mood</h1>
		<br>

		<table class="table table-striped" style="width: 50%">

			<form th:object="${mood}" th:action="@{save}" action="#"
				method="post">
				<tr>
					<td><label for="moodValue">Moodvalue (1-5)</label></td>
					
					<td><select id="moodValue" th:field="*{moodValue}"> 
					
					<option value=1>1</option>
					<option value=2>2</option>
					<option value=3>3</option>
					<option value=4>4</option>
				<option value=5>5</option>


					</select> </td>
					
					


				</tr>

				<tr>
					<td><label for="comment">Comments</label></td>
					<td><input type="text" th:field="*{comment}" /></td>

				</tr>

				<tr>
					<td><label for="date">Date</label></td>
					<td><input type="date" th:field="*{date}"/></td>


				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Save" class="btn btn-success"></input>
						<a href="/home" class="btn btn-danger">Cancel</a></td>
				</tr>

			</form>

		</table>


	</div>

</body>
</html>